/* Default formatting for body
*/
body {
        margin: 0px;
        background-color:white;
        font-family: Verdana, Geneva, Arial, sans-serif;
        font-size: medium;
        line-height: 1.5em;
        color: navy;
}

/* Formatting for header section
*/
header {
        background-color: white;
        line-height: 1;
        text-align: center;
        padding: 1px;
}

header h1 {
        border-bottom: 2px solid navy;
        color: navy;
        font-size: 175%;
        font-weight: bold;
}

.red {
        color: red;
}

header h2 {
        color:red;
        font-size: 100%;
        font-style: italic;
        font-weight: normal;
}

h3 {
        color: red;
}

.panel-body {
        color: gray;
}

.tiny {
        font-size: 50%;
}

/* Formatting for footer section
*/
footer {
        background-color: navy;
        padding: 1px;
        clear: right;
        }

/* Formatting for links
*/
a:link {
        color: navy;
}    

a:visited {
        color: navy;
}

a:hover {
        background-color: navy;
        color: white;
}



/*Formatting for navigation toolbar
*/
nav {
        background-color: navy;
        margin: 0px;
}

nav ul {
        margin: 0px;
        list-style-type: none;
        padding: 5px 0px 5px 0px;
}

nav ul li {
        display: inline;
        padding: 5px 10px 5px 10px;
}

nav ul li a:link, nav ul li a:visited {
        color: white;
        border-bottom: none;
        font-weight: bold;
}

nav ul li a:hover {
        background-color: navy;
        padding: 5px 0px 5px 0px;
}

nav ul li.selected {
        background-color: blue;
        padding: 5px 0px 5px 0px;
}

