/* Default formatting for body
*/
body {
        margin: 0px;
        background-color:white;
        font-family: Verdana, Geneva, Arial, sans-serif;
        font-size: medium;
        line-height: 1.5em;
        color: navy;
}

/* Formatting for header section
*/
header {
        background-color: white;
        line-height: 1;
        text-align: center;
        padding: 1px;
}

header h1 {
        border-bottom: 2px solid navy;
        color: navy;
        font-size: 175%;
        font-weight: bold;
}

.red {
        color: red;
}

.tiny {
        font-size: 50%;
}

#tiny {
        font-size: 50%;
}

header h2 {
        color:red;
        font-size: 100%;
        font-style: italic;
        font-weight: normal;
}

/* Formatting for forminfo section
*/
main {
        background-color: #efeff5;
        color: navy;
        padding: 20px;
        margin: 0px 445px 0px 0px;
}

/* Formatting for summary list 
*/
aside {
        padding: 20px 20px 0px 0px;
        float: right;
}
